.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.primary {
  background: var(--black);
  color: var(--white);
}

.secondary {
  background: transparent;
  color: var(--black);
  border: 2px solid var(--black);
}

.ghost {
  background: transparent;
  color: var(--black);
}

.button:disabled {
  background: var(--gray);
  border: 2px solid var(--gray);
  color: var(--white);
  cursor: not-allowed;
}

.button.small {
  font-size: 12px;
  line-height: 18px;
  padding: 14px 28px;
}

.button.medium {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 40px;
}

@media (max-width: 375px) {
  .button.small {
    padding: 10px 16px;
  }

  .button.medium {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 32px;
  }
}
