.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  gap: 4px;
}

.primary {
  background: var(--black);
  color: var(--white);
}

.secondary {
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.ghost {
  background: transparent;
  color: var(--black);
}

.button:disabled {
  background: var(--gray);
  border: 1px solid var(--gray);
  color: var(--white);
  cursor: not-allowed;
}

.button.small {
  font-size: 12px;
  line-height: 18px;
  padding: 14px 28px;
}

.button.medium {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 40px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .button.small {
    padding: 10px 16px;
  }

  .button.medium {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 32px;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  animation: global(spin) 1s linear infinite;
}
