.titleContainer {
  margin: 0 0 40px 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formContainer {
  margin: 0 0 16px 0;
}

.modalHint {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}
