.section {
  padding: 40px 0 120px 0;
}

/* laptop */
@media screen and (max-width: 1439px) {
  .section {
    padding: 28px 0 100px 0;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .section {
    padding: 40px 0 64px 0;
  }
}

.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .userProfile {
    gap: 32px;
  }
}

.userProfileHeaderWrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 443px;
}

.userProfileBlock {
  display: grid;
  grid-template-columns: 394px 1fr;
  gap: 40px;
  align-self: stretch;
}

.userTabsSection {
  display: flex;
}

@media screen and (max-width: 1439px) {
  .userProfileBlock {
    grid-template-columns: 1fr;
    gap: 80px;
    justify-items: center;
  }

  .userTabsSection {
    justify-self: stretch;
  }
}

.userCardBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 394px;
}

/* mobile */
@media (max-width: 767px) {
  .userCardBlock {
    width: 100%;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* mobile */

.tabList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  position: relative;
}

/* mobile */
@media (max-width: 767px) {
  .tabList {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.tabList::before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}

.tabTitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--gray);
  flex-shrink: 0;
  cursor: pointer;
}

/* mobile */
@media (max-width: 767px) {
  .tabTitle {
    font-size: 18px;
  }
}

.activeTabTitle {
  color: var(--black);
  position: relative;
  outline: none;
}

.activeTabTitle::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

.tabPanel {
  display: none;
}

.activeTabPanel {
  display: block;
  margin-top: 26px;
}
