.modal {
  display: none;
  animation:
    fadeOut 0.3s,
    slideUp 0.3s;
  width: 560px;
  padding: 80px;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: var(--border-radius);

  &[open] {
    display: block;
    animation:
      fadeIn 0.3s,
      slideDown 0.3s;
  }

  &::backdrop {
    opacity: 0;
  }

  & .closeButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 21px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #e6e6e6;
      outline: none;
    }

    & .icon {
      width: 24px;
      height: 24px;
      color: var(--black);
    }
  }
}

.modal.fullScreen {
  width: 100vw;
  height: 100dvh;
  padding: 24px;
  border-radius: 0;
  background-color: var(--black);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20%) scale(0.8);
  }

  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-20%) scale(0.8);
  }
}

@media (max-width: 767px) {
  .modal {
    width: min(100%, 343px);
    min-width: 320px;
    padding: 60px 30px;

    & .closeButton {
      top: 16px;
      right: 16px;
    }
  }

  .modal.fullScreen {
    width: 100vw;
    height: 100dvh;
    min-width: 100vw;
    min-height: 100dvh;
    padding: 60px 24px;
    animation: fadeOut 0.3s;

    &[open] {
      animation: fadeIn 0.3s;
    }

    & .closeButton {
      top: 29px;
      right: 24px;
      width: 28px;
      height: 28px;

      &:hover {
        background-color: #585858;
      }

      & .icon {
        color: var(--white);
        width: 28px;
        height: 28px;
      }
    }
  }
}
