.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px transparent var(--gray);
}

button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.button.active {
  border: 1px solid var(--gray);
}

.button.inactive {
  border: 1px transparent;
}

.button.large {
  width: 56px;
  height: 56px;
}

.button.medium {
  width: 42px;
  height: 42px;
}

.button.small {
  height: 36px;
  width: 36px;
}

.number {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  text-align: center;
}

button:disabled .number {
  color: var(--black);
  opacity: 1;
}
