.button {
  flex: 0 1 40px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px transparent var(--gray);
}

.disabled {
  opacity: 1;
  cursor: not-allowed;
  color: var(--black);
}

.button.active {
  outline: 1px solid var(--gray);
}

.button.inactive {
  outline: 1px transparent;
}

.number {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  text-align: center;
}
