.container {
  margin: 0 auto; /* centralizing */
  padding: 0 80px; /* desktop padding */
  max-width: 1440px; /* maximum width */
}

/*  On screens less or equal 1439px
    Tablet
*/
@media (max-width: 1439px) {
  .container {
    padding: 0 32px;
  }
}

/*  On screens less or equal 767px
    Mobile
*/
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}
