.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

/* laptop */
@media (max-width: 1439px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
