.imageWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: baseline;
}

.secondImage img {
  border-radius: 30px;
  width: 190px;
  height: 172px;
  transform: rotate(-12deg);
}

.firstImage img {
  border-radius: 15px;
  width: 77px;
  height: 70px;
  transform: rotate(11deg);
}

@media screen and (min-width: 768px) {
  .firstImage img {
    width: 128px;
    height: 116px;
  }
  .secondImage img {
    width: 302px;
    height: 273px;
  }
  .imageWrapper {
    gap: 28px;
  }
}
