.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--white); */
}

.headerContainer {
  padding: 40px 0;
  z-index: var(--z-index-header);
  position: relative;
}

.menuContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}
