.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
}

.headerContainer {
  padding: 40px 0;
  z-index: var(--z-index-header);
  position: relative;
}

/* laptop */
@media screen and (max-width: 1439px) {
  .headerContainer {
    padding: 36px 0;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .headerContainer {
    padding: 24px 0;
  }
}

.menuContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.userBarSkeleton {
  width: 138px;
  height: 50px;
}

@media (max-width: 767px) {
  .userBarSkeleton {
    width: 120px;
    height: 32px;
  }
}
