.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.togglePasswordVisibility {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  cursor: pointer;
}
